Makefile.am
Makefile.in
README.md
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
.deps
Makefile
config.log
config.status
serialbridge
setspeed
*.o
*.7z
*.png
*.bin
*.ipch
*.Po
*.sh
shtool
mmap_address.bin
serialbridge.ipch
settings.json
